<h1><%=h @investigator.name %></h1>

<h2>Summary</h2>

<table>
  <tr>
    <th>Total Awards</th>
    <th>Grants</th>
    <th>Awarded Years</th>
    <th>Organizations</th>
  </tr>
  <tr>
    <td class="currency"><%= number_to_currency(@investigator.award_total, :precision => 0) %></td>
    <td><%= number_with_delimiter @investigator.grants_count %></td>
    <td><%= smart_year @investigator.years %></td>
    <td><%= @investigator.organizations.map {|o| link_to(o.name, organization_path(o))}.join(", ")%></td>
  </tr>
</table>

<%= grant_by_year(@investigator.grants) %>
<%= grant_by_activity(@investigator.grants) %>

<h2>All Grants</h2>

<table>
  <tr>
    <th>Year</th>
    <th>Organization</th>
    <th>Grant Type</th>
    <th>Project Title</th>
    <th>Awards</th>
  </tr>
<% for g in @investigator.grants -%>
  <tr class="<%= g.activity.category_code %>" title="<%= g.activity.category %>: <%= g.activity.title %>">
    <td><%= g.year %></td>
    <td><%= link_to g.organization.name, organization_path(g.organization) %></td>
    <td><%= g.activity.code %></td>
    <td><%= link_to g.project_title, grant_path(g) %></td>
    <td class="currency"><%= number_to_currency(g.award, :precision => 0) %></td>
  </tr>
<% end -%>
  <tr>
    <th>TOTAL</th>
    <th></th>
    <th></th>
    <th></th>
    <th><%= number_to_currency(@investigator.award_total, :precision => 0) %></th>
  </tr>
</table>
