<h1>Grants</h1>

<table>
  <tr>
    <th>Organization</th>
    <th>Investigator</th>
    <th>Year</th>
    <th>Grant Number</th>
    <th>Project Title</th>
    <th>Award</th>
  </tr>

<% for grant in @grants %>
  <tr>
    <td><%= link_to grant.organization.name, grant.organization %></td>
    <td><%= link_to grant.investigator.name, grant.investigator %></td>
    <td><%=h grant.year %></td>
    <td><%=h grant.grant_number %></td>
    <td><%=h grant.project_title %></td>
    <td><%= number_to_currency(grant.award, :precision => 0) %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @organizations %>
