<h1>Grants<%= " at " + link_to(@organization.name, organization_path(@organization)) if @organization %></h1>

<table>
  <tr>
    <%= "<th>Organization</th>" unless @organization %>
    <th>Investigator</th>
    <th>Year</th>
    <th>Grant Type</th>
    <th>Project Title</th>
    <th>Award</th>
  </tr>

<% for grant in @grants %>
  <tr class="<%= grant.activity.category_code %>" title="<%= grant.activity.category %>: <%= grant.activity.title %>">
    <%= "<td>" + link_to(grant.organization.name, grant.organization) + "</td>" unless @organization %>
    <td><%= link_to grant.investigator.name, grant.investigator %></td>
    <td><%=h grant.year %></td>
    <td><%=h grant.activity.code %></td>
    <td><%= link_to grant.project_title, grant_path(grant) %></td>
    <td class="currency"><%= number_to_human_currency grant.award %></td>
  </tr>
<% end %>
</table>

<div class="pagination">
<%= will_paginate @organizations %>
</div>