<h1>Listing grants</h1>

<table>
  <tr>
    <th>Organization</th>
    <th>Investigator</th>
    <th>Year</th>
    <th>Grant number</th>
    <th>Project title</th>
    <th>Award</th>
  </tr>

<% for grant in @grants %>
  <tr>
    <td><%=h grant.organization_id %></td>
    <td><%=h grant.investigator_id %></td>
    <td><%=h grant.year %></td>
    <td><%=h grant.grant_number %></td>
    <td><%=h grant.project_title %></td>
    <td><%=h grant.award %></td>
    <td><%= link_to 'Show', grant %></td>
    <td><%= link_to 'Edit', edit_grant_path(grant) %></td>
    <td><%= link_to 'Destroy', grant, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New grant', new_grant_path %>
