<h1>Organizations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>State</th>
    <th>Award Total</th>
    <th>Grants</th>
  </tr>

<% for organization in @organizations %>
  <tr>
    <td><%= link_to organization.name, organization %></td>
    <td><%=h organization.city %></td>
    <td><%=h organization.state %></td>
    <td class="currency"><%= number_to_currency(organization.award_total, :precision => 0) %></td>
    <td><%= number_with_delimiter organization.grants_count %></td>
  </tr>
<% end %>
</table>

<div class="pagination">
<%= will_paginate @organizations %>
</div>