<h1><%= @organization.name %></h1>

<%=h @organization.city %>, <%=h @organization.state %>

<h2>Summary</h2>

<table>
  <tr>
    <th>Total Awards</th>
    <th>Grants</th>
    <th>Investigators</th>
    <th>Awarded Years</th>
  </tr>
  <tr>
    <td class="currency"><%= number_to_currency(@organization.award_total, :precision => 0) %></td>
    <td class="currency"><%= number_with_delimiter @organization.grants_count %></td>
    <td class="currency"><%= number_with_delimiter @organization.investigators_count %></td>
    <td><%= smart_year @organization.years %></td>
  </tr>
</table>

<h2>Recent Grants</h2>

<table>
  <tr>
    <th>Year</th>
    <th>Investigator</th>
    <th>Grant Type</th>
    <th>Project Title</th>
    <th>Awards</th>
  </tr>
<% for g in @organization.grants.recent -%>
  <tr class="<%= g.activity.category_code %>" title="<%= g.activity.category %>: <%= g.activity.title %>">
    <td><%= g.year %></td>
    <td><%= g.investigator ? link_to(g.investigator.name, investigator_path(g.investigator)) : "-" %></td>
    <td><%= g.activity.code %></td>
    <td><%= link_to g.project_title, grant_path(g) %></td>
    <td class="currency"><%= number_to_currency(g.award, :precision => 0) %></td>
  </tr>
<% end -%>
</table>
<%= link_to "[All grants]", organization_grants_path(@organization) %>

<h2>Top Investigators</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Award Total</th>
    <th>Grants</th>
    <th>Awarded Years</th>
  </tr>

<% for investigator in @organization.investigators %>
  <tr>
    <td><%= link_to investigator.name, investigator %></td>
    <td class="currency"><%= number_to_currency investigator.award_total, :precision => 0 %></td>
    <td class="currency"><%= number_with_delimiter investigator.grants_count %></td>
    <td><%= smart_year investigator.years %></td>
  </tr>
<% end %>
</table>
<%= link_to "[All investigators]", organization_investigators_path(@organization) %>
