<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>NIH Awards</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/2.5.1/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.2/build/base/base-min.css">
  <%= stylesheet_link_tag "default" %>
</head>
<body>
<div id="doc4" class="yui-t7">
  <div id="hd">
    <strong>NIH Awards</strong>:
    <%= link_to "Grants", grants_path %> |
    <%= link_to "Investigators", investigators_path %> |
    <%= link_to "Organization", organizations_path %>

  </div>
  <div id="bd">
    <div class="yui-g">
    <% unless controller.controller_name == "grants" -%>
        <div id="search"><% form_tag controller.send(controller.controller_name + "_path"), :method => 'get' do -%>
          <%= text_field_tag :q, params[:q] %>
          <%= submit_tag "Search " + controller.controller_name, :name => nil %>
        <% end -%>
        </div>
    <% end -%>
<%= yield %>
    </div>
  </div>
  <div id="ft">Center for Biomedical Informatics, Harvard Medical School</div>
</div>
</body>
</html>